* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Didact Gothic', sans-serif;
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
}

mark {
	color: white;
	background-color: #201e2f;
	padding: 0 0.4rem;
	border-radius: 0.3rem;
}

pre {
	overflow-x: auto;
	box-shadow: 0px 0px 8px 1.1px black;
	padding: 1rem;
	margin: 0 auto;
	max-width: 65%;
	text-align: center;
	background-color:  #f2f2f2;
	color: #000;
	border-radius: 0.3rem;
}

/*Artificii*/

main {
	background-color: #201e2f;
}
/*
body {
	background-color: black;
}
*/

/*Facem header-ul frumos*/

header {
	z-index: 1;
	position: fixed;
	right: 0;
	left: 0;
	background: rgba(255,255,255,0);
	display: flex;
	justify-content: space-between;
	padding: 0.6rem 1rem;
	font-size: 1.4rem;
}

header * {
	color: white;
}

.menu {
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
	width: 0px;
	background-color: #111;
	color: #818181;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.3s;
}

.menu a {
	display: block;
	color: #818181;
	text-decoration: none;
	padding: 0.7rem 1rem;
	transition: 0.3s;
	font-size: 1.3rem;
}

.closeMenu {
	font-family: sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2.2rem!important;
}

.showMenu {
	cursor: pointer;
	transition: 0.4s;
	padding-top: 3px;
}

.showMenu:hover {
	color: #818181;
}

.menu a:hover {
	color: #f1f1f1;
}

.titlu-header {
	transition: 0.3s;
}

/*terminat cu head-ul*/

/*facem continutul frumos*/

.pagina-de-pornire {
	/*background: repeating-linear-gradient(135deg, #536976, #292E49);*/
	background-image: url("https://hackernoon.com/hn-images/1*mY9s68LiW9UN4VkV_VnKTA.jpeg");
	width: 100%;
	height: 100vh;
	padding-top: 3rem;
	animation: colorAnimation 7s infinite;
/*	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 25%;*/
}

.pagina-de-pornire h1 {
	font-size: 80px;
	position: absolute;
	font-weight: bolder;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
}

#ce-este-cpp {
	height: 100%;
	color: white;
	border-bottom-right-radius: 20%;
}

#ce-este-cpp h1,
#istoria-limbajului h1,
#clase h1 {
	width: 100%;
	padding: 3rem 0;
	text-align: center;
	color: white;
}

#ce-este-cpp p,
#istoria-limbajului p,
#clase p {
	padding: 0 1.5rem 3rem;
	text-align: justify;
	font-size: 1.1rem;
	text-indent: 40px;
	color: white;
}

.definitie {
	overflow: hidden;
}

.ce-este-cpp {
	position: relative;
	background-color: #111;
	border-bottom-right-radius: 20%;
}

.text-animation {
	animation: apareDefinitia 2s 1;
}

#istoria-limbajului {
	background-color: #201e2f;
}

#istoria-limbajului p {
	color: white;
	transition: 2s;
}

#istoria-limbajului img {
	width: 100%;
	max-height: 240px;
	padding: 0 5rem 3rem;
}
.gif {
	display: none;
	transition: 2s;
}

.gif-animation {
	display: inherit;
}
#clase {
	background-color: #201e2f;
	/*border-top-right-radius: 20%;*/
}

#clase ul {
	text-align: justify;
	margin: 0 5rem;
	color: white;
	padding-bottom: 3rem;
	font-size: 1.1rem;
}

.margin-top {
	margin-top: 3rem;
}

.sameBackground {
	color: red;
}

/*styling the footer*/

footer {
	padding: 1rem 2rem;
	background-color: #111;
	color: white;
}

footer .echipa {
	display: flex;
	text-align: center;
}

.echipa h2 {
	text-align: left;
	margin: 0 1.4rem 0.5rem 0;
	font-weight: normal;
}

.creator,
.profesor {
	width: 50%;
}

.creator p,
.profesor p {
	font-size: 1.3rem;
}

.echipa span {
	padding: 0.33rem;
	font-size: 1.6rem;
	transition: 0.22s;
}

.echipa a {
	color: white;
	text-decoration: none;
}

.echipa span:hover {
	transform: scale(1.4);
}

@keyframes apareDefinitia {
	0% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

@keyframes colorAnimation {
	0% {
		color: #00FF7F;
	}

	20% {
		color: orange;
	}

	40% {
		color: yellow;
	}

	60% {
		color: red;
	}

	80% {
		color: #00FFFF;
	}

	100% {
		color: #00FF7F;
	}
}

/*configuratia desktop mode*/

@media screen and (min-width: 768px) {
	header {
		position: absolute;
		top: 0;
	}

	.closeMenu {
		display: none!important;
	}

	.showMenu {
		color: #111;
		pointer-events: none;
	}

	.titlu-header {
		padding-left: 235px;
	}

	.menu {
		width: 230px!important;
	}

	main {
		margin-left: 230px;
	}

	/*contentul pe desktop mode*/

	.pagina-de-pornire h1 {
		transform: translate(13px, 0);
	}
}

footer .creator{
	border-right: 1px solid white;
	margin-right: 30px;
}

.top-arrow {
	z-index: 6;
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 45px;
	width: 45px;
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 50%;
	transition: 0.45s;
	opacity: 0;
	pointer-events: none;
}


.top-arrow:hover {
	background-color: gray;
	color: #111;
}

.top-arrow:hover span {
	margin-bottom: 3px;
}

.menu-links {
	white-space: nowrap;
}

p#schema {
	color: #201e2f;
}

#saysomething {
	position: absolute;
	bottom: 40px;
	border: 2px solid #818181;
	margin: 0 30px;
	text-align: center;
	white-space: nowrap;
	border-radius: 0.2rem;
}

#saysomething:hover {
	border-color: white;
	background-color: purple;
}

/* #saysomething::after {
	content: '';
	right: 0;
	top: 0;
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: red;
} */